iframe{
	width: 425px;
}

form{
	width: 42%;
	margin-right: 20px;
	float: right;
}
form{
	float: right; 
}
form label{
	color: #fa6843;
	font-family: 'Roboto';
	font-size: 26px;
	font-weight: 600;
	margin-top: 16px;
}
form label:hover{
	color:#666;
}
form label:hover input{
	color:#666;
	border-bottom:2px solid #666;
}
form input {
	width: 97%;
	border-radius: 0px;
	border: 0px;
	border-bottom: 1px solid #ccc;
	height: 50px;
	padding-left: 10px;
	font-size: 32px;
	margin-top: -5px;
}
form input:hover {

}
input[type="submit"]{
	background: #fa6843;
	border-radius: 29px;
	color: #FFF;
	font-size: 28px;
	height: 67px;
	width: 95%;
	display: block;
	margin: auto;
	margin-top: 18px;
	font-family: 'Roboto';
	font-weight: 900;
	cursor: pointer; 
} 

input[type=text], input[type=password], textarea{
	border:none;
	border-bottom:1px solid #ccc;
}

input[type="submit"]:hover{
	background: #302c2d;
}

input[type="submit"]:hover{
	border:0px;
}
@media (max-width: 894px){
	article{
		display: block;
	}
	form{
		float: none;
	}
	.conteudo{
		width: 96%;
		margin: auto;
		float: none;
	}
	.conteudo img{
		width: 100%;
	}
	form{
		width: 95%;
		float: none;
		margin: auto;
	}
}